/* navbar */
.header {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .item  {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
