/* style.css */

/* Variables */
:root {
    --main-color: #4C4AE6;
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /* son fuentes del sistema, es el orden de utilización */
}

.footer {
    /* background-color: rgb(100,100,100); */
    color: #FFF;
    background-color: var(--main-color);
    /* rgba --Z color rgb con tranparencia */
    /* olor: rgba(0,0,0,0.8); */
    text-align: center;
    font-style: italic;
    /* 1 em,  / 1 rem 00 16px */
    font-size: 1em;
    /* padding -all- */
    padding: 20px;
    /* Top - Right - Bottom - Left */
    padding: 20px 0 20px 0;
    /* Y (top/bottom) - X (left/right) */
    padding: 20px 0;

    /* border */
    border: 5px solid darkblue;
    border-radius: 10px;

    /* margin se us igual que padding */
    margin: 20px;
}

.main {
    width: 50%;
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}

#nombre {
    display: inline-block;
}

.main label {
    /* display: none; */
    visibility: hidden;
}

/* navbar */
.navbar {
    background-color: var(--main-color);   
    color: #FFF; 
}
.navbar a.link {
    display: none;
}

@media screen and (min-width: 546px) {
    /* CSS de ancho > 546px */
    .navbar a.link {
        display: inline-block;
        color: white;
    }
}
@media screen and (min-width: 750px) {
    /* CSS de ancho > 546px */
    .navbar a.link {
        display: inline-block;
        color: yellow;
        text-decoration: none;
    }
}

@media print {
    .navbar a.link {
        display: inline-block;
        color: red;
        text-decoration: none;
    }
}